@model IntraNet.Mod.RDV.Models.ViewModel.DespesaAnexoViewModel
@{
    Layout = null;
}
<h2>Gerenciar Comprovantes.</h2>
<hr/>
    <div id="result"></div>
    @Html.Action("Slider", "DespesasAnexo", new { id = 4 })    
        <div class="form-group">
            <form method="post" id="Create" enctype="multipart/form-data">
                <div class="row">
                    @Html.Label("Comprovantes:")
                    <div class="col-lg-12">
                        @Html.TextBoxFor(model => model.ImageFile, new { type = "file", accept = ".png, .jpg, .jpeg", multiple = "multiple" })
                    </div>
                </div>
            </form>
            <hr />
        </div>
    <div>
        <div class="row col-lg-12">
            <button class="btn btn-default" onclick="DespesasAnexoCreate()">Salvar</button><button class="btn btn-default">Cancelar</button>
        </div>
    </div>
